.spanPost {
    display: flex; flex-direction: row;
    justify-content: space-between; align-items: center;
    width: 100%; height: 10rem;
    padding: .5rem 1rem; margin: 0 0 1rem 0;

    background-color: var(--IH-white);
}

.spanPost figure { 
    width: 6rem; height: 6rem;

    border-radius: 1rem;
}

.spanPost figure img {
    width: 100%; height: 100%;
    object-fit: cover;
    border-radius: inherit;
}

#conteudoPost {
    display: flex; flex-direction: column;
    justify-content: space-between;

    min-width: 12rem; width: min-content;
    height: 100%;

    text-align: end;
}

#conteudoPost div h3{
    font-weight: bolder;
    font-size: 1em;

    margin: .5rem 0;
}

#conteudoPost div p {
    margin: .5rem 0 0 0;

    font-size: 1em;
    text-overflow: ellipsis;
    text-align: end;

    white-space: nowrap;
    overflow: hidden;
}

#conteudoPost #metaInformacoes {
    color: var(--IH-blue);

    font-weight: bold;
}

.spanPost:hover {
    transform: scale(1.01);
    box-shadow: 0 .5rem 1rem var(--IH-blue);

    cursor: pointer;
}

@media (min-width: 1024px) {
    .spanPost {
        border-radius: 1.5rem;
    }

    .spanPost figure { 
        width: 8rem; height: 8rem;
    }
}