:root{
  --IH-blue: #1E7387;
  --IH-white: #f5f5f5;
  --IH-gray: #575757;
}

body {
  margin: 0; padding: 0;
  box-sizing: border-box;

  font-family: Arial, Helvetica, sans-serif;
  color: var(--IH-gray);
}