#logo {
    font-size: 1.5rem;
    font-weight: bolder;
}    

#logo span {
    color: var(--IH-blue);
    font-family: 'ArchivoBlack';
}    

#pesquisar {
    display: none;
    min-width: 6rem; height: 1.5rem;
    padding: 0 .5rem;

    background-color: white;
    border: 2px solid var(--IH-gray);
    border-radius: 1rem;
}        
#pesquisar #searcher {

    width: 90%; height: 100%;
    background: none;
}    

#pesquisar button {
    width: 10%; height: 100%;
}    

#menuSuperior {
    display: flex; align-items: center;
    justify-content: space-between;
    width: 100%; height: 3rem;
    padding: 0 .5rem;

    background-color: var(--IH-white);
}    

#navigation {
    display: flex; justify-content: space-between;
    min-width: 12rem; width: 33.3333%;
}    

#navigation a{
    color: var(--IH-gray);
    text-decoration: underline var(--IH-blue);
}

@media screen and (min-width: 768px) {
    #pesquisar {
        display: block;
    }
}