#usuarioPerfil {
    display: flex; flex-direction: column;
    width: 100%; height: calc(100vh - var(--IH-headerHeight));
}

#perfilContainer {
    width: 100%;
    padding: .5rem 1rem;

    background-color: var(--IH-white);
}

#perfilInfos > h4, #perfilPosts > h4 {
    margin: 0 0 1rem .5rem;
    
    font-size: 1.2rem;
    font-weight: bold;

    color: var(--IH-blue);
}

#perfilInfos > p {
    margin: 1rem 0;
}

#perfilBiografia {
    width: 16rem;
    max-height: 16rem; height: auto;
    margin: 1rem 0; padding: .5rem;
    
    background-color: white;
    border-radius: 1rem;
}

#perfilBiografia p {
    width: 100%;
    word-break: break-all;
}

#perfilPosts {
    width: 100%; padding: .5rem 0;
    
    background-color: white;
    
    overflow: hidden auto;
}

#perfilPosts ul {
    width: 100%;
}

#botaoEditar {
    display: block;
    width: 2rem; aspect-ratio: 1/1;
    margin: 0 0 0 auto;
}

#updateUsuario {
    width: 100%;
}

#updateUsuario > h4 {
    margin: 0 0 1rem 0;
    font-size: 1.5rem;
    color: var(--IH-blue);
}

#updateUsuario div * {
    display: block;
    max-width: 80%; width: 16rem;
    margin: 0 0 1rem 0;
    
    font-size: 1rem;
}

#updateUsuario div input {
    height: 2rem;
}

#updateUsuario div textarea {
    max-width: 60%; width: 16rem;
    padding: .5rem;

    font-size: 1rem;

    border: none;
    border-radius: 1rem;
}

#botaoAtualizarUsuario {
    width: 6rem; height: 1.5rem;
    margin: 1rem 0;
    
    font-size: 1rem;

    color: var(--IH-white);
    background-color: var(--IH-blue);

    border-radius: 1rem;
}

#botaoEditar:hover {
    transform: scale(1.1);
}

#botaoEditar:active {
    transform: scale(0.95)
}

@media (min-width: 1024px) {
    #usuarioPerfil {
        flex-direction: row;
    }

    #perfilContainer {
        max-width: 20rem; width: 40%;
    }

    #updateUsuario div textarea {
        max-width: none; width: 90%;
    }
    
    #perfilPosts {
        display: flex; flex-direction: column;
        width: 100%; height: 100%;
    }
    
    #perfilPosts ul {
        width: 100%; height: 100%;
        padding: .5rem 1rem;

        overflow-y: auto;
    }
}