#usuarioPerfil {
    display: flex; flex-direction: column;
    width: 100%; height: calc(100vh - var(--IH-headerHeight));
}

#perfilInfos {
    width: 100%;
    padding: .5rem 1rem;

    background-color: var(--IH-white);
}

#perfilInfos > h4, #perfilPosts > h4 {
    margin: 0 0 1rem 1rem;

    font-size: 1.2rem;
    font-weight: bold;

    color: var(--IH-blue);
}

#perfilInfos > p {
    margin: 1rem 0;
}

#perfilInfos #perfilBiografia {
    width: 16rem; height: 6rem;
    margin: 1rem 0; padding: .5rem;

    background-color: white;
    border-radius: 1rem;
}

#perfilPosts {
    width: 100%; padding: .5rem 0;

    background-color: white;

    overflow: hidden auto;
}

#perfilPosts ul {
    width: 100%;
}

@media (min-width: 1024px) {
    #usuarioPerfil {
        flex-direction: row;
    }

    #perfilInfos {
        max-width: 20rem; width: 40%;
    }
    
    #perfilPosts {
        display: flex; flex-direction: column;
        width: 100%; height: 100%;
    }
    
    #perfilPosts ul {
        width: 100%; height: 100%;
        padding: .5rem 1rem;

        overflow-y: auto;
    }
}