#menuSuperior {
    display: flex; align-items: center;
    justify-content: space-between;
    width: 100%; height: var(--IH-headerHeight);
    padding: 0 1rem; gap: 1rem;

    background-color: var(--IH-white);
}   

#menuSuperior h1 {
    min-width: max-content; width: 30%;
}

#navigation {
    display: flex; justify-content: space-between;
    max-width: 16rem; width: 70%;
}    

#navigation a{
    color: var(--IH-gray);
    text-decoration: underline var(--IH-blue);
}

@media screen and (min-width: 768px) {
    #pesquisar {
        display: block;
    }
}